header {
  padding: 33px 0;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "GilroyBold", sans-serif;
  font-size: 14px;
  line-height: 17px;
}

.items a {
  font-size: 18px;
  line-height: 22px;
  text-align: left;
  text-decoration: none;
  color: #828282;
}

.items a:hover {
  color: #070707;
}

hr {
  display: block;
  margin: 0 auto;
  max-width: 940px;
  border-bottom: 1px solid #828282;
}
